/* main {
  max-width: 65ch;
  margin-inline: auto;
} */

article {
  --callout: 4rem;
  display: grid;
  grid-template-columns:
    [full-start]1fr [callout-start]var(--callout) [content]minmax(0, 65ch) [callout-end]var(
      --callout
    )
    1fr[full-end];

  > * {
    grid-column: content;
  }

  img {
    grid-column: full;
  }

  blockquote {
    grid-column: callout;
  }
}
